<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>

    <h2>You've been piglatinized!</h2>

    <p><%= @new_sentence %></p>

    <h2>Let's do another!</h2>
    <h3>Enter your phrase:</h3>
    <form method="post" action="/piglatinize">
      <textarea name="user_phrase"></textarea>
      <br>
      <button type= "submit">
    </form>
  
  </body>
</html>